<h1>Editing departamento</h1>

<%= form_for [@provincia, @departamento], url: provincia_departamento_path(@provincia, @departamento) do |f| %>
  <%= render 'form', f: f %>
<% end %>

<%= link_to 'Show', [@provincia, @departamento] %> |
<%= link_to 'Back', provincia_departamentos_path(@provincia) %>
