<div class="row">
  <div class="col-md-12">
    <%= render partial: 'plantaciones', locals: {plantaciones: @plantaciones} %>
    <div class="well well-sm clearfix">
      <div class="pagination-info pull-left">
        <%= page_entries_info @plantaciones %>
      </div>
      <%= paginate @plantaciones %>
    </div>
  </div>
</div>