<% content_for :actions do %>
  <% if current_user.admin? %>
    <li>
      <%= link_to new_plantacion_path, id: 'nav-new-plantacion' do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva Plantación
      <% end %>
    </li>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render partial: 'plantaciones', locals: {plantaciones: @plantaciones} %>
    <div class="well well-sm clearfix">
      <div class="pagination-info pull-left">
        <%= page_entries_info @plantaciones %>
      </div>
      <%= paginate @plantaciones %>
    </div>
  </div>
</div>