<% content_for :head do %>
  <%= javascript_include_tag 'edit_plantacion' %>
<% end %>

<div class="row">
  <div class="col-md-5">
    <h2>Nueva Plantación</h2>
    <%= render 'form' %>
  </div>
</div>