<% content_for :actions do %>
  <% if current_user.admin? %>
    <li>
      <%= link_to new_titular_path, id: "nav-new-titular" do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo Titular
      <% end %>
    </li>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Buscador</h3>
      </div>
      <div class="panel-body">
        <%= render partial: 'search_form', locals: {titular: @titular} %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <%= render partial: 'titulares', locals: {titulares: @titulares} %>
  </div>
</div>