/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap3-switch";

th.icon {
  text-align: center;
}

td.icon {
  text-align: center;
}

td.icon span {
  font-size: 120%;
  vertical-align: middle;
}

td.icon-lg span {
  font-size: 200%;
}

.table-grid tr {
  cursor: pointer;
}

.panel-body .label {
  font-size: 90%;
}

.panel-body .label.disabled {
  opacity: 0.5;
}

.well .pagination {
  margin: 0px;
}

.well .pagination-info {
  margin-top: 8px;
}

.info-box {
  background-color: $brand-info;
  border-radius: $border-radius-base;
  padding: $padding-small-horizontal;

  dd, dt {
    line-height: 2;
  }
}

.panel-footer .label {
  font-size: $font-size-h5;
}

.checkbox label {
  padding-left: 0;
}

.panel-actions a {
  width: 100%;
}

.navbar-primary {
  a {
    color: $btn-primary-color !important;
    font-weight: bold;
  }
}

.navbar-info {
  background-color: $brand-info;
  a {
    color: $btn-info-color !important;
  }
}

.navbar-danger {
  background-color: $brand-danger;
  a {
    color: $btn-danger-color !important;
  }
}

.navbar-brand {
  font-size: $font-size-h2;
  padding-top: $padding-large-vertical;
  color: white !important;
  font-weight: normal;
  font-family: 'Ramaraja', serif;
}

.alert {
  vertical-align: middle;
  i {
    font-size: 20px;
    vertical-align: middle;
    padding-right: 10px;
  }
}