@import "bootstrap/variables";

th.icon {
  text-align: center;
}

td.icon {
  text-align: center;
}

td.icon span {
  font-size: 120%;
  vertical-align: middle; 
}

td.icon-lg span {
  font-size: 200%;
}

.table-grid tr {
  cursor: pointer;
}

.panel-body .label {
  font-size: 90%;
}

.panel-body .label.disabled {
  opacity: 0.5;
}

.well .pagination {
  margin: 0px;
}

.well .pagination-info {
  margin-top: 8px;
}

.info-box {
  background-color: $state-info-bg;
  border-radius: $border-radius-base;
  padding: $padding-small-horizontal;

  dd, dt {
    line-height: 2;
  }
}
