/*
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 0;
  margin: 0;
}

html, body, #map {
  height: 100%;
}

.leaflet-control-scale-line {
  border-radius: 3px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  border: 1px solid #777;
  border-top: none;
}

.leaflet-control-minimap {
  margin-left: 5px !important;
  margin-bottom: 5px !important;
}